body {
    margin: 0;
    font-family: Consolas, monaco, monospace;
    background-image: url('images/stars.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: #FFFFFF;
}