/* General Styles */
body {
    font-family: Consolas, monaco, monospace;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Header Styling */
  header {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  header a {
    color: #bcbcbc;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  /* Main Content */
  main {
    max-width: 800px;
    padding: 20px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
article h1 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 0.3em;
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

article h2 {
  font-size: 1.2em;
  color: #ccc;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 5px;
  background-color: #444;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

article .date {
  font-size: 0.8em;
  color: #888;
  margin-bottom: 1em;
  text-align: center;
  padding: 3px;
  background-color: #555;
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
}
  
  section h3 {
    font-size: 1.3em;
    color: #fff;
    margin-top: 1.5em;
  }
  
  section p {
    margin-bottom: 1em;
  }  